In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("variance.csv")

In [3]:
mean = df["Overall Marks"].mean()

In [4]:
mean

164.24

In [6]:
difference = df["Overall Marks"] - mean

In [7]:
difference

0     9535.76
1      -81.24
2      -86.24
3      -78.24
4      -73.24
5     -149.24
6      -81.24
7     -100.24
8      -98.24
9     -106.24
10    -102.24
11    -102.24
12    -144.24
13     -79.24
14    -115.24
15     -72.24
16    -143.24
17    -149.24
18    -118.24
19     -64.24
20    -146.24
21     -94.24
22     -82.24
23     -76.24
24     -76.24
25     -64.24
26     -78.24
27    -104.24
28     -76.24
29    -145.24
       ...
70     -73.24
71    -164.24
72     -65.24
73     -86.24
74    -101.24
75     -66.24
76     -66.24
77     -66.24
78    -100.24
79     -83.24
80     -88.24
81     -84.24
82     -67.24
83    -146.24
84     -74.24
85     -93.24
86     -97.24
87     -91.24
88     -71.24
89     -86.24
90     -90.24
91     -65.24
92     -91.24
93    -147.24
94    -164.24
95     -87.24
96    -109.24
97    -157.24
98     -91.24
99     -82.24
Name: Overall Marks, Length: 100, dtype: float64

In [8]:
sq_diff = difference ** 2

In [9]:
sq_diff

0     9.093072e+07
1     6.599938e+03
2     7.437338e+03
3     6.121498e+03
4     5.364098e+03
5     2.227258e+04
6     6.599938e+03
7     1.004806e+04
8     9.651098e+03
9     1.128694e+04
10    1.045302e+04
11    1.045302e+04
12    2.080518e+04
13    6.278978e+03
14    1.328026e+04
15    5.218618e+03
16    2.051770e+04
17    2.227258e+04
18    1.398070e+04
19    4.126778e+03
20    2.138614e+04
21    8.881178e+03
22    6.763418e+03
23    5.812538e+03
24    5.812538e+03
25    4.126778e+03
26    6.121498e+03
27    1.086598e+04
28    5.812538e+03
29    2.109466e+04
          ...
70    5.364098e+03
71    2.697478e+04
72    4.256258e+03
73    7.437338e+03
74    1.024954e+04
75    4.387738e+03
76    4.387738e+03
77    4.387738e+03
78    1.004806e+04
79    6.928898e+03
80    7.786298e+03
81    7.096378e+03
82    4.521218e+03
83    2.138614e+04
84    5.511578e+03
85    8.693698e+03
86    9.455618e+03
87    8.324738e+03
88    5.075138e+03
89    7.437338e+03
90    8.143258e+03
91    4.256258e+03
92    8.324738e+03
93    2.167962e+04
94    2.697478e+04
95    7.610818e+03
96    1.193338e+04
97    2.472442e+04
98    8.324738e+03
99    6.763418e+03
Name: Overall Marks, Length: 100, dtype: float64

In [10]:
variance = sq_diff.mean()

In [11]:
variance

919170.8423999996

In [12]:
#or

In [18]:
variance = df["Overall Marks"].var(ddof = 0)

In [19]:
variance

919170.8423999996

In [20]:
std = df["Overall Marks"].std(ddof = 0)

In [21]:
std

958.7339789534944